Repository zazuko/trifid, pull requests merged in 2023-11, with the labels that each got.

#197 [CKAN] Use `dct` prefix instead of `dcterms`
  .changeset/clever-wolves-watch.md
  package-lock.json
  packages/ckan/package.json
  packages/ckan/src/xml.js
  packages/ckan/test/ckan.test.js
  packages/ckan/test/support/basic-result.xml
  packages/ckan/test/support/empty-result.xml
  packages/ckan/test/support/store.js
Labels: enhancement, package:ckan

#198 [Entity renderer] Switch to mocha + dependencies upgrade
  .changeset/mean-rocks-agree.md
  package-lock.json
  packages/entity-renderer/.gitignore
  packages/entity-renderer/README.md
  packages/entity-renderer/cypress.config.mjs
  packages/entity-renderer/cypress/e2e/input.cy.js
  packages/entity-renderer/cypress/fixtures/example.json
  packages/entity-renderer/cypress/support/commands.js
  packages/entity-renderer/cypress/support/e2e.js
  packages/entity-renderer/examples/config/trifid.yaml
  packages/entity-renderer/examples/data/people.ttl
  packages/entity-renderer/examples/instance.js
  packages/entity-renderer/examples/run-instance.js
  packages/entity-renderer/examples/views/welcome.hbs
  packages/entity-renderer/package.json
  packages/entity-renderer/test/entity-renderer.test.js
  packages/entity-renderer/test/support/utils.js
Labels: enhancement, package:entity-renderer

#200 Improve tests and fix some bugs
  .changeset/clever-snakes-judge.md
  .changeset/olive-dogs-reply.md
  packages/core/middlewares/errors.js
  packages/core/test/middlewares/errors.test.js
  packages/entity-renderer/renderer/labels/labelLoader.js
  packages/entity-renderer/test/entity-renderer.test.js
Labels: bug, enhancement, package:core, package:entity-renderer

#202 CKAN: use `rdf:datatype` instead of `xml:datatype`
  .changeset/three-ladybugs-behave.md
  packages/ckan/src/xml.js
  packages/ckan/test/support/basic-result.xml
Labels: package:ckan

#206 CKAN: use `dcterms` instead of `dct` prefix
  .changeset/odd-ducks-pull.md
  packages/ckan/src/xml.js
  packages/ckan/test/support/basic-result.xml
  packages/ckan/test/support/empty-result.xml
Labels: package:ckan

#208 CKAN: Improve the way frequencies are handled
  .changeset/honest-clouds-clean.md
  packages/ckan/src/query.js
  packages/ckan/src/xml.js
  packages/ckan/test/support/basic-result.xml
  packages/ckan/test/support/data.ttl
Labels: enhancement, package:ckan

#209 CKAN: Convert legacy frequency to EU frequency
  .changeset/warm-seas-brush.md
  packages/ckan/README.md
  packages/ckan/src/index.js
  packages/ckan/src/namespace.js
  packages/ckan/src/xml.js
  packages/ckan/test/ckan.test.js
  packages/ckan/test/support/basic-result.xml
Labels: enhancement, package:ckan

#211 Update README.md
  packages/redirects/README.md
Labels: documentation
