Repository zazuko/trifid, pull requests merged in 2024-08, with the labels that each got.

#454 Add `enableSchemaUrlRedirect` config option
  .changeset/lovely-months-mix.md
  packages/entity-renderer/README.md
  packages/entity-renderer/index.js
Labels: enhancement, package:entity-renderer

#456 NPM Provenance
  .github/workflows/add-to-backlog.yaml
  .github/workflows/release.yaml
  packages/ckan/package.json
  packages/core/package.json
  packages/entity-renderer/package.json
  packages/graph-explorer/package.json
  packages/handler-fetch/package.json
  packages/i18n/package.json
  packages/iiif/package.json
  packages/markdown-content/package.json
  packages/sparql-proxy/package.json
  packages/spex/package.json
  packages/trifid/package.json
  packages/yasgui/package.json
Labels: enhancement

#470 Enable compression support
  .changeset/flat-glasses-breathe.md
  .changeset/long-seahorses-eat.md
  package-lock.json
  packages/ckan/src/index.js
  packages/core/index.js
  packages/core/package.json
  packages/core/plugins/health.js
  packages/core/plugins/redirect.js
  packages/core/plugins/view.js
  packages/entity-renderer/index.js
  packages/graph-explorer/index.js
  packages/handler-fetch/index.js
  packages/iiif/index.js
  packages/markdown-content/src/index.js
  packages/sparql-proxy/index.js
  packages/spex/index.js
  packages/yasgui/index.js
Labels: enhancement

#474 Add stream support back
  .changeset/proud-donkeys-exercise.md
  packages/sparql-proxy/index.js
Labels: enhancement, package:sparql-proxy

#473 fix: add custom compressible `mime-types`
  packages/core/index.js
Labels: enhancement, package:core

#477 fix: compress `text/turtle`
  .changeset/tidy-hornets-explain.md
  packages/core/index.js
Labels: enhancement, package:core
