Repository zazuko/trifid, pull requests merged in 2024-04, with the labels that each got.

#347 build(deps): remove redirects plugin
  .changeset/chilly-suns-wonder.md
  package-lock.json
  packages/trifid/package.json
Labels: package:trifid

#348 use @zazuko/env
  .changeset/good-ligers-flash.md
  package-lock.json
  packages/iiif/package.json
  packages/iiif/src/iiif.js
  packages/iiif/src/ns.js
Labels: package:iiif

#349 Disable node 18 for tests
  .github/workflows/test.yaml
Labels: enhancement

#350 Remove `chai-as-promised`
  package-lock.json
  packages/core/package.json
  packages/core/test/config.handler.test.js
Labels: enhancement, dependencies

#290 Update some README files
  README.md
  packages/core/README.md
  packages/iiif/README.md
Labels: enhancement, documentation

#356 Upgrade YASGUI to 4.3.0
  .changeset/twelve-rules-trade.md
  package-lock.json
  packages/yasgui/package.json
Labels: enhancement, dependencies

#365 Fix `rdf` import for IIIF plugin
  package-lock.json
  packages/iiif/index.js
  packages/iiif/package.json
Labels: enhancement, package:iiif

#366 Configure `defaultQuery` for YASGUI
  .changeset/rare-forks-hear.md
  packages/yasgui/README.md
  packages/yasgui/index.js
  packages/yasgui/views/yasgui.hbs
Labels: enhancement, package:yasgui

#367 Add support for complex accept headers
  .changeset/new-pandas-hide.md
  packages/entity-renderer/index.js
Labels: enhancement, package:entity-renderer
