Repository zazuko/trifid, pull requests merged in 2024-10, with the labels that each got.

#521 Upgrade to Fastify v5
  .changeset/ninety-coats-joke.md
  package-lock.json
  packages/ckan/src/index.js
  packages/core/package.json
  packages/entity-renderer/index.js
  packages/graph-explorer/index.js
  packages/graph-explorer/package.json
  packages/iiif/index.js
  packages/sparql-proxy/index.js
  packages/sparql-proxy/test/index.test.js
  packages/spex/index.js
  packages/spex/package.json
  packages/yasgui/index.js
  packages/yasgui/package.json
Labels: dependencies

#528 Migrate i18n to node test
  packages/i18n/package.json
  packages/i18n/test/test.js
Labels: package:i18n

#529 Migrate iiif to node test
  package-lock.json
  packages/i18n/package.json
  packages/i18n/test/i18n.test.js
  packages/iiif/package.json
  packages/iiif/test/iiif.test.js
  packages/iiif/test/support/exampleCall.js
Labels: package:iiif

#536 Node 22
  .changeset/grumpy-items-relate.md
  .github/workflows/release.yaml
  Dockerfile
Labels: enhancement

#537 Harmonize author and keyword fields
  .changeset/kind-dryers-give.md
  packages/ckan/package.json
  packages/core/package.json
  packages/entity-renderer/package.json
  packages/graph-explorer/package.json
  packages/handler-fetch/package.json
  packages/i18n/package.json
  packages/iiif/package.json
  packages/markdown-content/package.json
  packages/sparql-proxy/package.json
  packages/spex/package.json
  packages/trifid/package.json
  packages/yasgui/package.json
Labels: enhancement

#545 Handle null requestPort
  .changeset/funny-teachers-promise.md
  packages/ckan/src/index.js
  packages/entity-renderer/index.js
  packages/graph-explorer/index.js
  packages/iiif/index.js
  packages/sparql-proxy/index.js
  packages/spex/index.js
Labels: bug

#547 Handle null requestPort
  .changeset/slimy-moons-suffer.md
  packages/yasgui/index.js
Labels: bug, package:yasgui

#549 Export types for sparql-proxy plugin
  .changeset/honest-hairs-learn.md
  .changeset/silly-forks-retire.md
  package-lock.json
  packages/ckan/package.json
  packages/ckan/src/index.js
  packages/graph-explorer/index.js
  packages/graph-explorer/package.json
  packages/handler-fetch/index.js
  packages/i18n/index.js
  packages/markdown-content/package.json
  packages/markdown-content/src/index.js
  packages/sparql-proxy/index.js
  packages/sparql-proxy/package.json
  packages/sparql-proxy/tsconfig.json
  packages/spex/index.js
  packages/yasgui/index.js
  tsconfig.json
Labels: enhancement

#554 fix(ckan): distributions must be named nodes
  .changeset/grumpy-steaks-hear.md
  packages/ckan/src/xml.js
  packages/ckan/test/ckan.test.js
Labels: enhancement, package:ckan

#553 Yasgui types + some fixes
  .changeset/empty-nails-kick.md
  .changeset/rich-plants-heal.md
  .changeset/twenty-lobsters-retire.md
  .changeset/wild-birds-laugh.md
  package-lock.json
  packages/yasgui/.gitignore
  packages/yasgui/index.js
  packages/yasgui/package.json
  packages/yasgui/plugins/map.js
  packages/yasgui/test/yasgui.test.js
  packages/yasgui/tsconfig.json
  tsconfig.json
Labels: enhancement, package:yasgui
